$font-family: arial sans-serif !default;
$font-color: #333 !default;
$font-size: 16px !default;

$page-title-color: #38c !default;
$section-title-bgcolor: #adf !default;
$header-footer-border-color: #38c !default;

$system-props-title-color: #abd !default;
$system-props-name-color: #38c !default;

$namespace-prefix-color: #38c !default;
$importing-file-color: #38c !default;
$including-file-color: #38c !default;
$parameter-name-color: #38c !default;

$match-template-name-color: #38c !default;
$match-template-param-title-color: #abd !default;
$match-template-param-name-color: #38c !default;

$named-template-name-color: #38c !default;
$named-template-param-title-color: #abd !default;
$named-template-param-name-color: #38c !default; 
