$font-family: arial sans-serif;
$font-color: #333;
$font-size: 16px;

$page-title-color: #38c;
$section-title-bgcolor: #adf;
$header-footer-border-color: #38c;

$system-props-title-color: #abd;
$system-props-name-color: #38c;

$namespace-prefix-color: #38c;
$importing-file-color: #38c;
$including-file-color: #38c;
$parameter-name-color: #38c;

$match-template-name-color: #38c;
$match-template-param-title-color: #abd;
$match-template-param-name-color: #38c;

$named-template-name-color: #38c;
$named-template-param-title-color: #abd;
$named-template-param-name-color: #38c; 
