$font-family: "Lucida grande", Arial, serif;
$font-size: 14px;
$font-color: #333;
$horz-line-style: solid 2px #999;
$comment-color: #999;
$title-color: #68c;
$title-bgcolor: #adf;
$page-title-color: #38c;
$page-desc-color: #666;

