section.elements {

  & > div.element-list {

    & > div.element-item {

      & > div.element-match {
      }

      & > div.element-desc {
      }

      & > div.element-param-list:before {
        content: 'Parameter:';
        font-size: 0.9rem;
        color: $title-color;
      }

      & > div.element-param-list {

        & > div.element-param-item {
          padding-left: 1rem;
          display: flex;

          & > div.element-param-desc:before {
            content: '-';
            margin-left: 0.3rem;
          }

          & > div.element-param-desc {
            margin-left: 0.3rem;
            margin-bottom: 0rem;
          }
        }
      }
    }
  }
}
