section.functions {

  & > div.function-list {

    & > div.function-item {

      & > div.function-name {
      }

      & > div.function-desc {
      }

      & > div.function-param-list:before {
        content: 'Parameters:';
        font-size: 0.9rem;
        color: $title-color;
      }

      & > div.function-param-list {

        & > div.function-param-item {
          padding-left: 1rem;
          display: flex;

          & > div.function-param-name {
          }

          & > div.function-param-desc:before {
            content: '-';
            margin-left: 0.3rem;
            margin-right: 0.3rem;
          }

          & > div.function-param-desc {
            margin-left: 0rem;
            margin-bottom: 0rem;
          }
        }
      }
    }
  }
}
