@use "./config";

header {
  border-bottom: solid 1px config.$header-footer-border-color;
}

footer {
  border-top: solid 1px config.$header-footer-border-color;
}

div.system-props {
  display: flex;

  & > div.system-props-title {
    flex: auto;
    color: config.$system-props-title-color;
    margin-right: 0.5rem;
    text-align: right;
  }
  & > div.system-props-title::after {
    content: ':';
  }

  & > div.system-props-item {
    flex: initial;
    padding-right: 0.5rem;

    & > span.system-props-item-name {
      color: config.$system-props-name-color;
    }
    & > span.system-props-item-name::after {
      content: '=';
    }
    & > span.system-props-item-value {
    }
  }
  & > div.system-props-item:not(:last-of-type)::after {
    content: ',';
  }
}

