div.including-list {
  padding-left: 0.3rem;
  padding-bottom: 0.5rem;

  & > div.including-item {
    & > div.including-description {
      padding-left: 1rem;
    }
  }

  & > div.including-item:not(:first-of-type) {
    margin-top: 0.3rem;
  }
}
