html {
  font-size: $font-size;
}

body {
  font-family: $font-family;
  color: $font-color;
  padding: 0.5rem;
  margin: 0rem;
}

main {
  padding-top: 1rem;
  padding-bottom: 1rem;

  & > div.page-description {

    & > div.design-comment-line:first-of-type {
      color: $page-title-color;
      font-size: 2rem;
      font-weight: bold;
      margin-left: 0.7rem;
      margin-bottom: 1rem;
    }

    & > div.design-comment-line:not(:first-of-type) {
      margin-left: 1rem;
    }
  }

  & > section {

    & > h2 {
      font-size: 1.4rem;
      background-color: $section-title-bgcolor;
      padding: 0.2rem 0.5rem;
    }

    & > h2:after {
      content: ':';
    }

    & > div.section-body {
      margin-left: 0.5rem;
    }
  }
}
