@use "./config";

div.namespace-list {
  padding-left: 0.3rem;
  padding-bottom: 0.5rem;

  & > div.namespace-item {
    & > span.namespace-prefix {
      color: config.$namespace-prefix-color;
    }
  }
}
