div.parameter-list {
  padding-left: 0.3rem;
  padding-bottom: 0.5rem;

  & > div.parameter-item {
    & > div.parameter-name {
      color: $parameter-name-color;
    }

    & > div.parameter-description {
      margin-left: 1rem;
    }
  }

  & > div.parameter-item:not(:first-of-type) {
    margin-top: 0.3rem;
  }
}
